*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

article{
    /* border: 1px solid red; */
}

section{
    width:100vw;
    position: relative;
    /* border: 1px solid black; */
}
div{
    /* border: 1px solid blue; */
}

.main-header{
    display: flex;
    min-height: 100vh;
    width: 100%;
    background-image: url("images/slsljlaxjuwropshc5dlc2vy8yy.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

header{
    display: flex;
    width: 100%;
    background: rgb(16,105,198);
    background: radial-gradient(circle, rgba(16,105,198,0.6951914554884453) 0%, rgba(5,5,159,0.5971522398021709) 60%, rgba(2,0,36,1) 100%); 
}

.positioner{
    width:fit-content;
    display:flex;
    margin: auto;
}

.title{
    font-size: 55px;
    text-shadow: 1px 1px 1px #000;
    color: white;
    margin:auto;
    margin-top: 5px;
    margin-bottom: 5px;
    transform: translate(0px, 200%);
    opacity: 0;
    transition: all 0.3s ease 0s;
}
.title._active{
    transform: translate(0px, 0px);
    opacity: 1;
}

h2,h3,h4{
    color: #e1e3e8;
    font-weight: bold;

    text-shadow: 1px 1px 1px #000;
    font-size: 48px;
    margin:20px;
    margin-bottom: 40px;
    text-align: center;
}

h3{
    font-size: 40px;
}

h4{
    font-size: 35px;
}
section.conspect{
    background-color: #2d3957;
}
section.images, .navigation, section.charts{
    background-color: whitesmoke;
}

section.charts div{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}

.charts div{
    margin:0;
    padding: 0;
    width:70vw;
}
.text{
    color: #e1e3e8;
    text-shadow: 1px 1px 1px #000;
    font-size: 30px;
    margin: 100px;
}

.nav{
    padding-left: 30px;
}
.nav a:link,.nav a:visited{
    color: black;
}
.nav a{
    text-decoration: none;
}

.navigation_container{
    margin:20px;
    background-color: whitesmoke;
    height: fit-content;
}
.navigation_container span{
    font-size: 24px;
}

.navigation_container ul{
    list-style-type:circle;
    margin-top: 10px;
    margin-left: 50px;
}
.navigation_container ul li{
    display: list-item;
    list-style-position: inside;
}

.list{
    list-style-type: decimal;
    padding-left: 30px;
    text-decoration: none;
}
.list a{
    text-decoration: none;
}
.list a:link,.list a:visited{
    color: #f5f5f5;
}

ol{
    list-style-type: decimal;
}

ol li{
    display: list-item;
    list-style-position: inside;
}

.image{
    height: 50vh;
    width:40%;
    display:inline-block;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.img1{
    margin:50px auto 50px 30vw;
    background-image: url("images/1.png");
}

.img2{
    margin:50px auto 50px 30vw;
    background-image: url("images/2.png");
}

.img3{
    margin:50px auto 50px 30vw;
    background-image: url("images/3.png");
}

.img4{
    margin:50px auto 50px 30vw;
    background-image: url("images/4.png");
}

.img5{
    margin:50px auto 50px 30vw;
    background-image: url("images/5.png");
}

.img6{
    margin:50px auto 50px 30vw;
    /* min-width: 953px;
    min-height: 894px; */
    background-image: url("images/6.png");
    background-size: contain;

}

.img7{
    margin:50px auto 50px 30vw;
    background-image: url("images/7.1.png");
    background-size: contain;
}

.img8{
    margin:50px auto 50px 30vw;
    background-image: url("images/fin1.png");
}

.img9{
    margin:50px auto 50px 30vw;
    background-image: url("images/9.png");
}

.img10{
    margin:50px auto 50px 30vw;
    background-image: url("images/10.png");
}

.img10_3{
    margin:50px auto 50px 30vw;
    background-image: url("images/10.3.png");
}

.img11{
    margin:50px auto 50px 30vw;
    background-image: url("images/11.png");
}

.img12{
    margin:50px auto 50px 30vw;
    background-image: url("images/12.png");
}

.img13{
    margin:50px auto 50px 30vw;
    background-image: url("images/13.png");
}

.img14{
    margin:50px auto 50px 30vw;
    background-image: url("images/14.png");
}

.img15{
    margin:50px auto 50px 30vw;
    background-image: url("images/15.png");
}

.img16{
    margin:50px auto 50px 30vw;
    background-image: url("images/16.png");
}


.img17{
    margin:50px auto 50px 30vw;
    background-image: url("images/17.png");
}

.img18{
    background-size: contain;
    margin:50px auto 50px 30vw;
    background-image: url("images/18.png");
}

.fin1{
    margin:50px auto 50px 5vw;
    background-image: url("images/fin1.png");
}

.fin3{
    margin:50px auto 50px 5vw;
    background-image: url("images/fin3.png");
}

._anim-show_transition{
    transform: translate(0px, 10%);
    opacity: 0;
    transition: all 0.6s ease 0.2s;
}

._anim-show_transition._active,._active ._anim-show_transition
{

    opacity: 1;
    transform: translate(0px, 0px);
}

._anim-show_transition_left{
    transform: translate(-50%, 0px);
    opacity: 0;
    transition: all 0.6s ease 0.2s;
}

._anim-show_transition_left._active,._active ._anim-show_transition_left{
    transform: translate(0px, 0px);
    opacity: 1;
}

._anim-show_transition_right{
    transform: translate(50%, 0px);
    opacity: 0;
    transition: all 0.6s ease 0.2s;
}

._anim-show_transition_right._active, ._active ._anim-show_transition_right{
    transform: translate(0px, 0px);
    opacity: 1;
}

._anim-show_scale{
    transform: scale(0);
    transition: all 0.6s ease 0.2s;
}

._anim-show_scale._active, ._active ._anim-show_scale{
    transform: scale(1);
}

#ToNavigationButton{
    position: fixed;
    bottom:5vh;
    right:5vw;
    z-index: 1000;
    background-color: #3054ad;
    border:1px solid whitesmoke;
    border-radius: 10px;
}

#ToNavigationButton a{
    text-decoration: none;
    color:white;
    font-size: 14px;
    margin:5px;
}

._show-nav-button{
    visibility:visible;
    opacity: 1;
    transition: 1s;
}

._show-nav-button._hide{
    visibility: hidden;
    opacity: 0;
}





